{% extends "appbuilder/base.html" %}

{% block content %}
<div class="container">
    <h2>Reportes del Taller Mecánico</h2>

    <div class="alert alert-info">
        <h4>Total de ingresos: Bs. {{ ingresos }}</h4>
    </div>

    <h3>Servicios más solicitados</h3>

    <canvas id="graficaServicios"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const nombres = {{ nombres | tojson }};
    const cantidades = {{ cantidades | tojson }};

    new Chart(document.getElementById("graficaServicios"), {
        type: "bar",
        data: {
            labels: nombres,
            datasets: [{
                label: "Cantidad de servicios",
                data: cantidades
            }]
        }
    });
</script>
{% endblock %}